@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,500;0,600;1,600&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Monoton&family=Satisfy&family=The+Nautigal:wght@700&display=swap");
// font-family: 'Covered By Your Grace', cursive;
// font-family: 'Monoton', cursive;
// font-family: 'Satisfy', cursive;
// font-family: 'The Nautigal', cursive;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: "Courier New", Courier, monospace;
}
.container {
  padding: 4rem 10rem;
}
Header {
  // max-height: 100vh;
  background-color: #2d2e32;
  overflow: hidden;
  color: #fff;

  nav {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    margin: 0.5rem 0;
    width: 100%;

    .navbar-brand {
      // font-weight: 900;
      font-size: 3rem;
      color: rgb(255, 255, 255);
      text-decoration: none;
      padding-right: 3rem;
      font-family: "Satisfy", cursive !important;
      b {
        font-family: "Satisfy", cursive !important;
      }
    }

    .primary {
      display: flex;
      align-items: center;
      justify-content: start;
    }

    .link-item {
      font-weight: 500;
      color: white;
      margin: 10px;
      font-family: "Roboto Mono", monospace;
    }
    .link-item--p {
      transition: color 0.5s;
      &:hover {
        // font-style: italic;
        text-decoration: overline;
        color: #35fd04;
      }
    }
    .social {
      display: flex;
      justify-content: space-between;
      align-items: center;

      // transform: translateX(215%);

      li {
        i {
          font-size: 1.2rem;
          padding: 10px;
        }
        margin: 0 10px;
        font-size: 14px;

        .fa-brands.fa-linkedin.linkedin {
          color: #02effb;
          padding: 10px;
        }
        .fa-brands.fa-github.github {
          color: #ffffff;
          padding: 10px;
        }

        .fa-solid.fa-envelope.mailbox {
          color: #3ccf4e;
          &:hover {
            outline: 10px solid rgb(59, 59, 59);
            border-radius: 100%;
          }
        }
      }

      img {
        width: 20px;
        height: auto;
        margin-bottom: -8px;
      }
      // li a .linkedin {
      //   fill: rgb(0, 153, 255);
      // }
    }
    &:hover {
      text-decoration: none;
    }
    .social .link-item {
      color: rgb(175, 175, 175);
      size: 30px;
    }
  }

  // CONTENT =================
  .content {
    padding: 1rem 0;
    display: flex;
    overflow: hidden;
    justify-content: space-between;

    .content-text {
      margin: 0 200px;
      // flex-shrink: 1;
      width: 50%;
      padding: 3rem 0;

      h2 {
        padding: 3rem 0;
      }
      .title {
        background-color: #33ff00;
        border: 1px solid rgb(0, 0, 0);
        color: #000000;
        display: inline-block;
        margin: 2rem 0;
        padding: 7px;
        border-radius: 5px;
        font-weight: 700;
      }
      .quote {
        padding: 2rem 0;
        font-size: 3.5rem;
        font-family: "Courier New", Courier, monospace;
      }
      p {
        font-size: 1rem;
        font-family: "Courier New", Courier, monospace;
        // color: rgb(175, 175, 175);
        color: rgba(255, 255, 255, 0.548);
        padding: 1.6rem 0;
      }
      .btn {
        color: rgb(236, 0, 0);
        text-decoration: underline;
        font-size: 1.5rem;
        font-weight: 700;
        padding: 1rem 0 2.5rem 0;
        display: block;
      }
    }

    .content-image {
      // background-image: url("../image/badhon-removebg-preview.png");
      width: 500px;
      height: auto;
      // display: flex;
      // justify-items: end;
      // justify-content: end;
      box-sizing: border-box;
      // background-repeat: no-repeat;
      // background-size: cover;
      // flex-shrink: 4;

      img {
        max-width: 600px;
        height: fit-content;
        border: 1px solid rgb(0, 0, 0);
        border-radius: 5px;
        transition: ease-in 0.4s;
        background-color: #313438;
        &:hover {
          margin: 10px 10px -10px -10px;
          box-shadow: 7px -6px 0px -1px rgba(0, 0, 0, 0.76);
        }
      }
    }
    .expertise {
      display: flex;
      justify-content: space-between;
      // margin: 0 -200px;
      font-family: "Courier New", Courier, monospace;
      padding-top: 2rem;
      // padding: 0 100px;
      h1 {
        padding: 15px;
        font-size: 4rem;
        padding-left: 0px;
      }
      h6 {
        font-size: 1rem;
        // color: rgba(240, 248, 255, 0.514);
        color: rgba(255, 255, 255, 0.548);
        font-weight: 500;
      }
      .experience {
        display: flex;
        align-items: center;
        padding: 2rem 0;
        // padding-left: 0px;
      }
      .projects-completed {
        display: flex;
        align-items: center;
        justify-content: center;
        // padding: 1rem;
        // padding-left: 0px;
      }
    }
  }
}

// 2nd-Section============

.services {
  height: 100vh;
  background-color: #25262a;
  color: #fff;
  font-family: "Courier New", Courier, monospace;
  .row {
    display: flex;

    .col-md-6 {
      width: 50%;
    }
    h1 {
      display: flex;
      font-size: 2rem;
      font-weight: 500;
    }

    p {
      // padding: 1rem 0;
      color: #bbbcbeb4;
      padding-top: 10px;
    }
    a {
      padding: 2rem 0;
      color: #fff;
      display: inline-block;
    }

    .design,
    .frontend,
    .seo {
      background-color: #2d2e32;
      margin: 10px;
      border-radius: 10px;
      padding: 1.5rem 4rem;
      box-sizing: border-box;
      cursor: pointer;

      &:hover,
      :focus {
        box-shadow: 0px 4px 34px -10px rgb(49, 47, 49);
        h1 {
          color: #33ff00;
        }
        a {
          text-decoration: underline;
          text-transform: capitalize;
        }
        i {
          color: #33ff00;
        }
      }
    }
    .design--heading,
    .frontend--heading,
    .seo--heading {
      display: flex;
      align-items: center;
      i {
        padding: 0 10px;
        font-size: 1.2rem;
        display: block;
        margin: auto 0 auto auto;
      }
    }

    .category,
    .service-info {
      margin: 2rem 5rem;
    }
    .service-info {
      overflow: hidden;
      h6 {
        font-size: 1rem;
        padding: 10px 0;
        color: #bbbcbeb4;
      }
      h1 {
        font-size: 3rem;
        padding: 2rem 0;
        font-weight: 500;
      }

      h4 {
        font-size: 1.7rem;
        font-style: italic;
        font-weight: 500;
        line-height: 1.5;
        margin: 1rem 0;
        padding: 1rem;
        border-left: 4px solid rgb(112, 111, 111);
        // display: inline;
      }
      // p {
      //   font-size: 1rem;
      //   line-height: 2;
      // }

      .tech,
      .tool {
        padding: 2rem 0;

        // .icon {
        // border-left: 2px solid #acabab88;
        // }

        h3 {
          font-size: 1.5rem;
          padding: 0.8rem;
        }
        i {
          padding: 0.8rem;
          font-size: 2rem;
        }
        .fa-html5 {
          color: #ff5100;
        }
        .fa-css3 {
          color: #00e1ff;
        }
        .fa-js {
          color: yellow;
        }
        .fa-react {
          color: #5dd1f1;
        }
        .fa-node {
          color: #00ff22;
        }
        .fa-git-alt {
          color: #ff5100;
        }
        .fa-sass {
          color: rgb(253, 14, 54);
        }
        .fa-github {
          color: #fff;
        }
        .fa-bootstrap {
          color: #9d26ff;
        }
        .fa-linux {
          color: #fff;
        }
      }
    }
  }
}

// Foooter
.alert {
  margin: 5rem;
  color: #ff5100;
  text-align: center;
}
